div#contentArea
{
visibility: hidden !important;
}

div#contentArea:before
{
   visibility:visible; 
   position: absolute;
   width: 484px;
   height: 140px;
  
   border-radius: 46px;
   border-style: outset;
   border-color: #0066FF;
   border-width: 9px;
  
   background-color: #3399FF;
   display: flex;
   opacity: .25;
   justify-content: center;
   align-items: center;
  
   /*TEXT*/
   color: #003D99;
   
   text-align: center;
   
   letter-spacing: 3px;
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 75px;
   line-height:30px;
   content: "FeedBlock™";
    
}